<body>
<!-- ======= Mobile nav toggle button ======= -->
<!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">

<nav id="navbar" class="navbar nav-menu">
    <ul>
    <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
    <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
    <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file"></i> <span>Resume</span></a></li>
    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-briefcase"></i> <span>Portfolio</span></a></li>
    </ul>
</nav><!-- .nav-menu -->

</header><!-- End Header -->

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center">
<div class="container"  data-aos="zoom-in" data-aos-delay="100">
    <%- include ("../partials/chatbox.ejs") %>
    <h1>Sample Title</h1>
    <p>Develops with: <span class="typed" data-typed-items="Python, Javascript, C++, HTML"></span></p>
    <div class="social-links">
    <a href="https://github.com/jjhbriggs" class="github" target="_blank"><i class="bx bxl-github"></i></a>
    <a href="https://www.linkedin.com/in/jjhbriggs/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
    </div>
</div>
</section><!-- End Hero -->

<main id="main">
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>About</h2>
    </div>

    <div class="row">
        <div class="col-lg-4">
        <img src="/theme/img/profile-img.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
        <p>I am currently studying at the Univeristy of Pennsylvania (Class of 2025), pursuing an Electrical Engineering degree with a concentration in Robotics. I have strong interests in computer science, machine learning, and autonomous robotics.</p>
        <p>
            Officiis eligendi itaque labore et dolorum mollitia officiis optio vero. Quisquam sunt adipisci omnis et ut. Nulla accusantium dolor incidunt officia tempore. Et eius omnis.
            Cupiditate ut dicta maxime officiis quidem quia. Sed et consectetur qui quia repellendus itaque neque. Aliquid amet quidem ut quaerat cupiditate. Ab et eum qui repellendus omnis culpa magni laudantium dolores.
        </p>
        <br><br>
        <div class="row">
            <div class="col-lg-6">
            <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>jjhbriggs@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>203-219-6669</span></li>
                <!-- <li><i class="bi bi-chevron-right"></i> <strong>LinkedIn:</strong> <span><a href="https://www.linkedin.com/in/jjhbriggs/">linkedin.com/in/jjhbriggs</a></span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Github:</strong> <span><a href="https://github.com/jjhbriggs">github.com/jjhbriggs</a></span></li> -->
            </ul>
            </div>
        </div>
        
        </div>
    </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Skills Section ======= -->
<section id="skills" class="resume">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>TECHNICAL SKILLS</h2>
    </div>

    <div class="row">
        <div class="col-lg-6">
        <div class="resume-item">
            <h4>LANGUAGES</h4>
            <ul>
            <li>Python</li>
            <li>Javascript</li>
            <li>C++</li>
            <li>C#</li>
            <li>Rust (currently learning)</li>
            <li>SQL</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Typescript</li>
            <li>Bash/Shell</li>
            <li>Java</li>
            <li>PHP</li>
            <li>OCaml</li>
            </ul>
        </div>
        <div class="resume-item">
            <h4>CLOUD PLATFORMS</h4>
            <ul>
            <li>AWS (especially EC2, IAM, S3, and CloudFormation)</li>
            <li>Google Cloud (Dialogflow, Cloud Monitoring, Google Assistant API, Identity)</li>
            <li>Heroku</li>
            <li>Microsoft Azure (limited use, mostly Web Apps)</li>
            </ul>
        </div>
        <div class="resume-item">
            <h4>OS</h4>
            <ul>
            <li>Linux (especially Ubuntu)</li>
            <li>Windows</li>
            <li>OS X</li>
            <li>WSL</li>
            </ul>
        </div>
        </div>
        <div class="col-lg-6">
        <div class="resume-item">
            <h4>LIBRARIES/FRAMEWORKS</h4>
            <ul>
            <li>Tensorflow</li>
            <li>NumPy</li>
            <li>Django</li>
            <li>Node.js</li>
            <li>Express.js</li>
            <li>React.js</li>
            <li>React Native</li>
            <li>EJS</li>
            <li>Expo</li>
            </ul>
        </div>
        <div class="resume-item">
            <h4>TECHNOLOGIES</h4>
            <ul>
            <li>Git (+Github)</li>
            <li>Docker</li>
            <li>Continuous Integration (CircleCI, TravisCI)</li>
            <li>MongoDB (+Atlas, Realm)</li>
            <li>mySQL</li>
            <li>SQLite</li>
            <li>Unity</li>
            <li>MATLAB</li>
            </ul>
        </div>
        <div class="resume-item">
            <h4>ROBOTICS</h4>
            <ul>
            <li>ROS</li>
            <li>Gazebo</li>
            <li>PX4 Autopilot</li>
            <li>Intel Realsense</li>
            <li>Solidworks</li>
            </ul>
        </div>
        </div>
    </div>

    </div>
</section><!-- End Skills Section -->

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>Resume</h2>
        <p><i>View and download the full PDF version <a href="">here</a></i></p>
    </div>

    <div class="row">
        <div class="col-lg-6">
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
            <h4>University of Pennsylvania</h4>
            <h5>Expected Graduation: May 2025</h5>
            <p><em>Philadelphia, PA</em></p>
            <p>Pursuing Electrical Engineering (BSE)<br>Member of the Penn Electric Racing Software Team</p>
        </div>
        <div class="resume-item">
            <h4>St. Luke's School</h4>
            <h5>Graduated: June 2021</h5>
            <p><em>New Canaan, CT</em></p>
            <p>High School Diploma<br>GPA: 3.98/4.0</p>
            <p><b>Relevant Coursework:</b><br>
                STEM Scholars, Honors Machine Learning, Honors Computer Systems Architecture, Honors Data Structures, AP Computer Science, Robotics, Electrical Design, Linear Algebra, Honors Multivariable Calculus, AP BC Calculus<br>
                <b>Awards:</b> <br>
                Finalist in the 2021 National Merit Scholarship Program | 2021 St. Luke's Cum Laude Society Inductee | Williams Book Award | Academic Distinctions in Design Lab (AY17-18;AY18-19), Science (AY18-19;AY19-20), Math (AY18-19;AY20-21), World Language (AY19-20), History (AY17-18)<br>
                <b>Activities:</b> <br>
                St. Luke's Hackathon, App Development Club, Varsity Tennis Captain, Varsity Squash</p>
        </div>
        </div>
        <div class="col-lg-6">
        <h3 class="resume-title">Experience</h3>
        <div class="resume-item">
            <h4>Web Interface Developer</h4>
            <h5>Spring 2020-Present</h5>
            <p><em>Columbia University | Cunningham Group</em></p>
            <ul>
            <li>Developing the web interface of NeuroCAAS: an online neuroscience analysis platform.</li>
            <li>Developed new systems to expand capabilities; reworked user management system; automated AWS IAM and CloudFormation resource management; optimized backend processes; patched security flaws; improved UX; wrote tests/web docs; etc.</li>
            <li>Helped review publication text, which has been approved for publication, on which I am an author.</li>
            <li>Python | Django | Javascript | AWS EC2 / IAM / S3 / CloudFormation | +more</li>
            </ul>
        </div>
        <div class="resume-item">
            <h4>Software Instructor</h4>
            <h5>Summer 2020 - Spring 2021</h5>
            <p><em>Code Ninjas | Mount Kisco</em></p>
            <ul>
            <li>Tutored children in coding and robotics; collaborated with other instructors and management to develop and test new curriculum and materials.</li>
            </ul>
        </div>
        <div class="resume-item">
            <h4>Maintenance</h4>
            <h5>Summer 2021</h5>
            <p><em>Newfield Swim And Tennis Club</em></p>
            <ul>
            <li>Responsible for maintenance of the pool, tennis, dining, and walking areas.</li>
            </ul>
        </div>
        <div class="resume-item">
            <h4>Volunteer Co-President</h4>
            <h5>Summer 2019 - Spring 2021</h5>
            <p><em>Helping Hands | Darien Depot</em></p>
            <ul>
            <li>Managed team of 12+ teens to collect household items for community residents in need; organized a fundraiser during Covid-19 and raised over $3,500 for the Director of Department of Human Services to purchase needed supplies during the CT Stay at Home order; worked with other Co-President to organize and run meetings, coordinate community outreach, and manage logistics of collections and dropoffs.</li>
            <li>2020 Darien Community Fund-Outstanding Volunteer Team Award.</li>
            </ul>
        </div>
        <div class="resume-item">
            <h4>Web Designer</h4>
            <h5>Fall 2018  - Spring 2019</h5>
            <p><em>Darien Depot</em></p>
            <ul>
            <li>Helped the client strategically redesign website UI and UX; programmed mobile-responsive website and content management system.</li>
            </ul>
        </div>
        <div class="resume-item">
            <h4>Certified Grade 8 Referee</h4>
            <h5>Fall 2017  - Fall 2020</h5>
            <p><em>Darien Soccer</em></p>
            <ul>
            <li>Worked with the rest of officiating team to enforce game rules, and manage pre-game/post-game responsibilities; promoted player safety; attended yearly certification training.</li>
            </ul>
        </div>
        <div class="resume-item">
            <h4>Game Development Tutor</h4>
            <h5>Fall 2018  - Spring 2019</h5>
            <ul>
            <li>Tutored a middle school child in game development with Unity, as well as web development; worked with the student and their parents to develop learning objectives.</li>
            </ul>
        </div>
        </div>
    </div>

    </div>
</section><!-- End Resume Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>RECENT PROJECTS</h2>
        <p>Signficiant projects I have built or contributed to recently.</p>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
            <img src="ncap.png" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>NeuroCAAS</h4>
            <p>an online neuroscience analysis platform</p>
            <div class="portfolio-links">
                <a href="/detail1" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-info-circle"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
            <img src="drone2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>STEM Scholars Project</h4>
            <p>an autonomous UAV platform</p>
            <div class="portfolio-links">
                <a href="/detail2" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-info-circle"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
            <img src="pennapps.png" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>PennApps Music App</h4>
            <p>a music app to connect listeners and small artists</p>
            <div class="portfolio-links">
                <a href="/detail3" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-info-circle"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
            <img src="chatbot.png" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>Web Chatbot</h4>
            <p>an NLP chatbot for website visitors</p>
            <div class="portfolio-links">
                <a href="/detail4" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-info-circle"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
            <img src="mlcar2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>ML Path Following Car</h4>
            <p>using neural networks & Tensorflow</p>
            <div class="portfolio-links">
                <a href="/detail5" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-info-circle"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
            <img src="rpiano1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>Piano Playing Robot</h4>
            <p>to play advanced songs on a weighted keyboard</p>
            <div class="portfolio-links">
                <a href="/detail6" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-info-circle"></i></a>
            </div>
            </div>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Portfolio Section -->

</main><!-- End #main -->

<!-- ======= Footer ======= -->
<footer id="footer">
<div class="container">
    <div class="social-links">
    
    <a href="https://github.com/jjhbriggs" class="github" target="_blank"><i class="bx bxl-github"></i></a>
    <a href="https://www.linkedin.com/in/jjhbriggs/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
    </div>
    <div class="credits">
    Theme obtained from <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</div>
</footer><!-- End Footer -->

<!-- <div id="preloader"></div> -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>