<!--John Briggs-->
<body>
<!-- ======= Mobile nav toggle button ======= -->
<!-- <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button> -->
<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
<!-- ======= Header ======= -->
<header id="header" class="d-flex flex-column justify-content-center">
<nav id="navbar" class="navbar nav-menu">
    <ul>
    <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
    <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
    <li><a href="#skills" class="nav-link scrollto"><i class="bx bxs-keyboard"></i> <span>Skills</span></a></li>
    <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file"></i> <span>Resume</span></a></li>
    <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-briefcase"></i> <span>Portfolio</span></a></li>
    </ul>
</nav><!-- .nav-menu -->

</header><!-- End Header -->

<!-- ======= Hero Section =======   data-aos="zoom-in" data-aos-delay="0"-->
<section id="hero" class="d-flex flex-column justify-content-center">
<div class="container">
    
    <h1>John Briggs</h1>
    <div class="social-links">
    <a href="https://github.com/jjhbriggs" class="github" target="_blank"><i class="bx bxl-github"></i></a>
    <a href="https://www.linkedin.com/in/jjhbriggs/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
    </div>
</div>
</section><!-- End Hero -->

<main id="main">
<!-- ======= About Section ======= -->
<%- include ("../partials/chatbox.ejs") %>
<section id="about" class="about">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>About</h2>
    </div>

    <div class="row">
        <div class="col-lg-4">
        <img src="images/pfp.jpg" class="img-fluid" alt="">
        </div>
        <div class="col-lg-8 pt-4 pt-lg-0 content">
        <p>I am currently studying at the University of Pennsylvania, pursuing a Computer Engineering degree. 
            I have strong interests in deep learning and autonomous robotics. <br><br>
            Right now my development efforts are split between the development of NeuroCAAS (with the Cunningham Group at Columbia University), working on
            embedded systems as part of the software team on <a href="https://www.pennelectricracing.com/" target="_blank">Penn Electric Racing</a>, 
            and exploring topics of interest through other projects. <br><br>
        </p>
        <div class="row">
            <div class="col-lg-6">
            <ul>
                <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>jjhbriggs@gmail.com</span></li>
                <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>203-219-6669</span></li>
            </ul>
            </div>
        </div>
        
        </div>
    </div>

    </div>
</section><!-- End About Section -->

<!-- ======= Skills Section ======= -->
<section id="skills" class="resume">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>TECHNICAL SKILLS</h2>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="resume-item">
                <h4>FULL STACK DEVELOPMENT</h4>
                <ul>
                    <li>Python (Django)</li>
                    <li>Javascript/TS (Node.js, Express.js, React.js, React Native)</li>
                    <li>Databases (mySQL, PostgreSQL, MongoDB, SQLite)</li>
                    <li>Containerization (Docker, Kubernetes)</li>
                    <li>HTML/CSS</li>
                    <li>SQL</li>
                    <li>CI/CD</li>
                    <li>Scrum/Agile</li>
                    <li>REST</li>
                    
                </ul>
            </div>
            <div class="resume-item">
                <h4>DATA SCIENCE & ML</h4>
                <ul>
                    <li>Python (Tensorflow, PyTorch, NumPy, Pandas)</li>
                    <li>MATLAB</li>
                </ul>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="resume-item">
                <h4>CLOUD COMPUTING</h4>
                <ul>
                    <li>AWS (EC2, IAM, S3, CloudFormation)</li>
                    <li>GCP</li>
                    <li>Azure</li>
                </ul>
            </div>
            <div class="resume-item">
                <h4>OTHER</h4>
                <ul>
                    <li>C++</li>
                    <li>C#</li>
                    <li>C</li>
                    <li>Bash</li>
                    <li>Java</li>
                    <li>PHP</li>
                    <li>OCaml</li>
                    <li>Game Development (Unity, Unreal Engine)</li>
                    <li>Robotics (ROS, Gazebo, PX4, SOLIDWORKS)</li>
                    <li>Git</li>
                </ul>
            </div>
        </div>
    </div>
</section><!-- End Skills Section -->

<!-- ======= Resume Section ======= -->
<section id="resume" class="resume">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>Resume</h2>
        <p><i>View and download the printable PDF <a href="https://docs.google.com/document/d/1-T61mSvkR_Igq6vTzYeiK4Rw3J6KJsAJc9vYDp9P7Co/edit?usp=sharing" target="_blank">here</a></i></p>
    </div>

    <div class="row" id="resumeContainer">
        <div class="col-lg-6" id="educol">
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
            <h4>University of Pennsylvania</h4>
            <h5>Expected Graduation: May 2025</h5>
            <p><em>Philadelphia, PA</em></p>
            <p>Pursuing Computer Engineering (BSE)<br>Member of the Penn Electric Racing Software Team</p>
        </div>
        <div class="resume-item">
            <h4>St. Luke's School</h4>
            <h5>Graduated: June 2021</h5>
            <p><em>New Canaan, CT</em></p>
            <p>High School Diploma</p>
            <p>
                Finalist in the 2021 National Merit Scholarship Program<br>2021 St. Luke's Cum Laude Society Inductee<br>Williams Book Award <br>
            </p>
        </div>
        
        </div>
        <div class="col-lg-6" id="expcol">
        <h3 class="resume-title">Experience</h3>
        <div class="resume-item">
            <h4>TechOps Intern</h4>
            <h5>June 2022 - Present</h5>
            <p><em>Pitney Bowes</em></p>
            <ul>
            <li>Worked on Scrum/Agile team to analyze and document global ecommerce alert and monitoring system which analyzes millions of daily shipping and tracking API calls</li>
            <li>Kubernetes | AWS | Grafana | AppDynamics | Jaspersoft | Splunk</li>
            </ul>
        </div>
        <div class="resume-item">
            <h4>Software Engineer</h4>
            <h5>May 2020-Present</h5>
            <p><em>Columbia University | Cunningham Group</em></p>
            <ul>
            <li>Full stack development of the web interface of NeuroCAAS: an online Neuroscience analysis platform</li>
                <li>Developed an identity and access management system to support hundreds of users and research groups</li>
                <li>Automated AWS resource deployment and optimized backend performance, improving user deployment time from days to seconds; Built CI pipeline and automated test deployment, adding 85% code coverage</li>
                <li>Streamlined analysis run process through new features such as an embedded configuration template builder</li>
                <li>Coauthored the publication in Neuron</li>
            <li>Python (Django) | AWS (EC2, S3, IAM, CloudFormation) | Javascript | SQLite | HTML/CSS | Bash</li>
            </ul>
        </div>
        <div class="resume-item">
            <h4>Software Instructor</h4>
            <h5>August 2020 - May 2021</h5>
            <p><em>Code Ninjas | Mount Kisco</em></p>
            <ul>
            <li>Designed curriculums and led virtual classes and events in coding and robotics</li>
            </ul>
        </div>
        <div class="resume-item">
            <h4>Software Engineer</h4>
            <h5>November 2018  - June 2019</h5>
            <p><em>Darien Depot</em></p>
            <ul>
            <li>Consulted with client on a strategic website UI and UX redesign, resulting in the development of a brand new website and content management system</li>
            <li>Javascript | PHP | HTML/CSS</li>
            </ul>
        </div>
    </div>

    </div>
</section><!-- End Resume Section -->

<!-- ======= Portfolio Section ======= -->
<section id="portfolio" class="portfolio section-bg">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
        <h2>RECENT PROJECTS</h2>
        <p>Signficiant projects I have built or contributed to recently.</p>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
            <img src="images/ncap.png" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>NeuroCAAS</h4>
            <p>an online neuroscience analysis platform</p>
            <div class="portfolio-links">
                <a href="/detail1" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-info-circle"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
            <img src="images/drone2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>STEM Scholars Project</h4>
            <p>an autonomous UAV platform</p>
            <div class="portfolio-links">
                <a href="/detail2" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-info-circle"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
            <img src="images/pennapps.png" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>PennApps Music App</h4>
            <p>a music app to connect listeners and small artists</p>
            <div class="portfolio-links">
                <a href="/detail3" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-info-circle"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-card">
        <div class="portfolio-wrap">
            <img src="images/chatbot.png" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>Web Chatbot</h4>
            <p>an NLP chatbot for website visitors</p>
            <div class="portfolio-links">
                <a href="/detail4" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-info-circle"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-web">
        <div class="portfolio-wrap">
            <img src="images/mlcar2.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>ML Path Following Car</h4>
            <p>using neural networks & Tensorflow</p>
            <div class="portfolio-links">
                <a href="/detail5" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-info-circle"></i></a>
            </div>
            </div>
        </div>
        </div>

        <div class="col-lg-4 col-md-6 portfolio-item filter-app">
        <div class="portfolio-wrap">
            <img src="images/rpiano1.jpg" class="img-fluid" alt="">
            <div class="portfolio-info">
            <h4>Piano Playing Robot</h4>
            <p>to play advanced songs on a weighted keyboard</p>
            <div class="portfolio-links">
                <a href="/detail6" class="portfolio-details-lightbox" data-glightbox="type: external" title="Portfolio Details"><i class="bx bx-info-circle"></i></a>
            </div>
            </div>
        </div>
        </div>

    </div>

    </div>
</section><!-- End Portfolio Section -->

</main><!-- End #main -->
<!-- ======= Footer ======= -->
<footer id="footer">
<div class="container">
    <div class="social-links">
    
    <a href="https://github.com/jjhbriggs" class="github" target="_blank"><i class="bx bxl-github"></i></a>
    <a href="https://www.linkedin.com/in/jjhbriggs/" class="linkedin" target="_blank"><i class="bx bxl-linkedin"></i></a>
    </div>
    <div class="credits">
    Theme obtained from <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a>
    </div>
</div>
</footer><!-- End Footer -->

<!-- <div id="preloader"></div> -->
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
</body>
<script>
    
    $('div.collapse-button').click(function(){
        $('div.collapse-content').slideToggle();
        if ($( this ).html() == "<span><b>Show More</b></span>"){
            $( this ).html("<span><b>Show Less</b></span>");
        } else {
            $( this ).html("<span><b>Show More</b></span>");
        } 
    });
    //randomly shuffle the list on the homepage
    function shuffle(array) {
        let currentIndex = array.length,  randomIndex;
        while (currentIndex != 0) {
            randomIndex = Math.floor(Math.random() * currentIndex);
            currentIndex--;
            [array[currentIndex], array[randomIndex]] = [
            array[randomIndex], array[currentIndex]];
        }
        return array;
    }
    $("span.typed").attr("data-typed-items",shuffle(["Python","Javascript","C++","C#","Rust","SQL","HTML","CSS","Typescript","Java","Tensorflow","Django","Node.js","Express.js","React.js","React Native"]).join(','));
    $(document).ready(resumeOrdering);
    $(window).resize(resumeOrdering);

    function resumeOrdering(){
        if($(document).width() < 992){
            $("#educol").detach().appendTo("#resumeContainer");
        }else{
            $("#educol").detach().prependTo("#resumeContainer");
        }
    }
</script>
