<div id="content"></div>
<div class="chatbox_wrapper">
    <div class="center">
        <div class="chat">
            <div class="contact bar">
                <div class="pic rec_msg"></div>
                <div class="name">
                Ask John a Question!
                </div>
                <div class="seen">
                    <u>What is this?</u>
                </div>
            </div>
            <div class="messages" id="chat">
                <!-- <div class="time">
                Today
                </div> -->
                <div id="messageList">
                    <div class="message rec_msg">Hello! 👋</div>
                    <!-- <div class="message rec_msg">I'm an NLP bot! 💻</div>
                    <div class="message sent_msg">Cool! How does this work? 🤔</div>
                    <div class="message rec_msg">Ask questions about me (John), and I'll do my best to answer.</div>
                    <div class="message rec_msg">You can ask about my resume, projects, hobbies, or even interview questions! 👇</div> -->
                    <!-- <div class="message rec_msg_nb">Test Message Recieved (not a bot)</div> -->
                </div>
            </div>
            <form id="sio_form" action="">
                <div class="input">
                    <input id="sio_input" placeholder="Message" type="text" autocomplete="off"/><button class="chat_btn"><i class="fa fa-paper-plane color_primary" style="color: #0463BB;"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src = "/socket.io/socket.io.js"></script> 
<script type="text/javascript">
    var chat = document.getElementById('chat');
    

    // const source = new EventSource('/events');

    // source.addEventListener('message', message => {
    //     const data = JSON.parse(message.data);      
    //   // Display the event data in the `content` div
    //     document.querySelector('#content').innerHTML = data.message;
    //     document.getElementById('messageList').innerHTML += '<div class="message ' + ((data.sent) ? 'sent_msg' : 'rec_msg') + '">' + data.message + '</div>';
    // });
    const socket = io();
    var form = document.getElementById('sio_form');
    var input = document.getElementById('sio_input');

    form.addEventListener('submit', function(e) {
        e.preventDefault();
        if (input.value) {
            socket.emit('user-message', input.value);
            input.value = '';
        }
    });
    socket.on('confirmed', function(msg) {
        document.getElementById('messageList').innerHTML += '<div class="message sent_msg">' + msg + '</div>';
        chat.scrollTop = chat.scrollHeight - chat.clientHeight; 
    });
    socket.on('recieved', function(msg) {
        document.getElementById('messageList').innerHTML += '<div class="message rec_msg">' + msg + '</div>';
        chat.scrollTop = chat.scrollHeight - chat.clientHeight; 
    });
</script>
