<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/theme-header.ejs") %>
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="images/ncap.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="images/ncap4.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="images/ncap2.png" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="images/ncap3.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-6">
            <h2>NeuroCAAS</h2>
            <div class="portfolio-info">
              <ul>
                <li><strong>Project timeline</strong>: May 2020 - present</li>
                <li><strong>Paper URL (under review)</strong>: <a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=3877562" target="_blank">papers.ssrn.com/sol3/papers.cfm?abstract_id=3877562</a></li>
                <li><strong>Project URL</strong>: <a href="https://neurocaas.org" target="_blank">neurocaas.org</a></li>
                <li><strong>Web Interface Github</strong>: <a href="https://github.com/jjhbriggs/neurocaas_frontend" target="_blank">github.com/jjhbriggs/neurocaas_frontend</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <p style="font-size: 14px">
                NeuroCAAS is an online neuroscience analysis platform, on which I am a contributor.<br><br>
                
                My primary role is as the web interface developer, so I am responsible for the maintaince and development of both the front and backend of the web interface. 
                Developed new systems to expand capabilities; reworked user management system; automated AWS IAM and CloudFormation resource management; optimized backend processes; patched security flaws; improved UX; wrote tests/web docs; etc.
                Helped review publication text, which has been approved for publication, on which I am an author.<br><br>
                Check out the publication for more information, or the Github to see the code. ☝️ <br><br>
                <i>Python | Django | Javascript | AWS EC2 / IAM / S3 / CloudFormation | +more</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include ("../partials/footer.ejs") %>

</body>

</html>