<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/theme-header.ejs") %>
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="drone2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="drone1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="drone3.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-6">
            <h2>Autonomous UAV Platform</h2>
            <div class="portfolio-info">
              <ul>
                <li><strong>Project timeline</strong>: July 2020 - May 2021</li>
                <li><strong>Paper URL</strong>: <a href="https://bit.ly/jhbdrone" target="_blank">bit.ly/jhbdrone</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <p style="font-size: 14px">
                A Low-Cost UAV platform to navigate unmapped, GPS-free areas while avoiding obstacles.<br><br>
                The UAV software runs on ROS, and PX4 Autopilot.
                The navigation (3DVFH*) and tracking algorithms were first implemented in simulation with Gazebo, 
                and then attempted on a custom hardware platform.
                The UAV collects data for SLAM using the Intel Realsense D455 and T265 cameras. <br>
                I conducted this project as part of the STEM Scholars program at St. Luke's School (my high school).<br><br>
                Check out the paper URL above for a more detailed explanation of my project. ☝️<br><br>
                <i>ROS  | Gazebo | C++ | PX4 Autopilot | QGroundControl | Intel Realsense</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include ("../partials/footer.ejs") %>

</body>

</html>