<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
  <%- include ("../partials/theme-header.ejs") %>
</head>
<body>
  Hello!
</body>


<%- include ("../partials/footer.ejs") %>

</html>
