<!--John Briggs-->
<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/theme-header.ejs") %>
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="images/chatbot.png" alt="">
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-6">
            <h2>Web Chatbot</h2>
            <div class="portfolio-info">
              <ul>
                <li><strong>Project timeline</strong>: Fall 2021</li>
                <li><strong>Github URL</strong>: <a href="https://github.com/jjhbriggs/personal_website" target="_blank">github.com/jjhbriggs/personal_website</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <p style="font-size: 14px">
                This is an NLP chatbot designed to provide resume and personal details to visitors to my website<br><br>

                The chatbot is built on top of this website, which is a full stack Javascript site (Node.js backend). 
                The data collected from the chatbot is sent to Google Dialogflow for NLP parsing, and then the result is returned to the user.
                Communication between the frontend and backend is achieved using Socket.io.
                <br><br>
                Check out the Github above to view the code. ☝️
                <br><br>
                <i>Javascript | Node.js | Express.js | GCP | Heroku | HTML/CSS </i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include ("../partials/footer.ejs") %>

</body>

</html>