<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/theme-header.ejs") %>
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="images/mlcar2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="images/mlcar.jpg" alt="">
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-6">
            <h2>ML Path Following Car</h2>
            <div class="portfolio-info">
              <ul>
                <li><strong>Project timeline</strong>: Winter 2020 - Spring 2020</li>
                <!-- <li><strong>Github URL</strong>: <a href="" target="_blank">insert github link</a></li> -->
              </ul>
            </div>
            <div class="portfolio-description">
              <p style="font-size: 14px">
                A path following car controlled by a neural network, which makes decisions about the car's direction based upon images 
                from a single RGB camera. <br><br>

                The car is powered by Raspberry Pi, and communicates over wifi with an external laptop.<br>
                This project was built as part of an independent study at St. Luke's School (my high school).
                <br><br>
                Check out the Github above to view the code. ☝️
                <br><br>
                <i>Python | Tensorflow | Keras | Raspberry Pi</i>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->
  <%- include ("../partials/footer.ejs") %>

</body>

</html>