<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ("../partials/theme-header.ejs") %>
</head>

<body>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-5">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="drone2.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="drone1.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="drone3.jpg" alt="">
                </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <h2>Autonomous UAV to Navigate Unmapped, GPS-Free Areas</h2>
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Project timeline</strong>: July 2020 - May 2021</li>
                <li><strong>Paper URL</strong>: <a href="https://bit.ly/jhbdrone" target="_blank">bit.ly/jhbdrone</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <p>
                A Low-Cost UAV platform to navigate unmapped, GPS-free areas while avoiding obstacles
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->

  </main><!-- End #main -->

  <!-- <div id="preloader"></div> -->
  <!-- <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a> -->

  <%- include ("../partials/footer.ejs") %>

</body>

</html>