<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
  </div>
</div>
<script src="https://embed.small.chat/T02FCU8PLSHC02FN82PDE0.js" async></script>
<div class="container">
</div>

</body>
</html>
